*, ::before, ::after {
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.878);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(6, 70px);
    gap: 3px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
    border: 5px solid rgba(0, 0, 0);
    background:  rgba(0, 0, 0);

}
button {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 7px;
    border: none;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
    font-size: large;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
background-color: rgb(0, 0, 0);
color: white;
}

.two-row {
    grid-row: span 2;
    background-color: rgb(255, 69, 0, 0.9);
}
.two-col {
    grid-column: span 2;
    background-color: rgb(255, 69, 0, 0.9);
}

#display {
    grid-column: 1 / -1;
    background-color: white;
    outline: none;
    border: none;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    display: flex;
    align-items: end;
    text-align: right;
    font-size: 2em;
    flex-direction: column;
    text-wrap: wrap;
    word-wrap: break-word;
    word-break: break-all;
}

.operands {
    background-color: rgb(255, 69, 0, 0.9);
}

